body, html {
	overflow: hidden;
	height: 100%;
	margin: 0;

	background-image: url("Dungeon.jpg"); height:100%;
	background-color: black;
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: outside;
    font-weight: bold;

}

nav ul li{
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {color:#990000; font-family:"Garamond"; margin-bottom: -6px;}
p {color:#990000; font-family:"Garamond";}
	
div.img {
	    position: relative;
		left: 35%;
		top: 5%;
	}

div.navi {
    position: relative;
    left: 50%;
    top: 40%;	
}	

div.items {
	position: relative;
	left: 85%;
	top: 15%;
}

div.items ul li {
	margin-bottom: 100px;
}

div.playerclass {
	position: relative;
	top: 75%;
	left: 25%;	
}

#player {
	width:128px;
	height:128px;
}

}
