body {	
	background-image: url("Dungeon.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
   	 margin: 60px auto;
   	 width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {color:#990000; font-family:"Garamond"; margin-bottom: -6px;}
p {color:#990000; font-family:"Garamond";}
	
div.img {
	    position: relative;
		left: 50%;
		top: 5%;
	}
div.navi {
	position: relative;
	left 50%;
	top: 25%;
}

}
